{{ define "main" }}
<link rel="stylesheet" href="/timeline.css">

<ol class="custom-timeline">
  {{ range sort .Paginator.Pages.ByDate.Reverse }}
  <li class="custom-timeline-item">
    <!-- Date/time of post -->
    <time class="text-sm text-gray-400">
      {{ partial "docs/date" (dict "Date" .Date "Format" $.Site.Params.BookDateFormat) }}
    </time>

    <!-- Title linked to post -->
    <a href="{{ .RelPermalink }}">
      <h2 class="timeline-post-title">
        {{ partial "docs/title.html" . }}
      </h2>
    </a>

    <!-- Optional subtitle -->
    {{ if .Params.subtitle }}
      <p class="timeline-post-subtitle">{{ .Params.subtitle }}</p>
    {{ end }}
  </li>
  {{ end }}
</ol>

{{ template "_internal/pagination.html" . }}
{{ end }}

{{ define "toc" }}
  {{ partial "docs/taxonomy" . }}
{{ end }} 