<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hélios Lyons</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;1,400&display=swap">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            margin: 0;
            font-family: "EB Garamond", Georgia, "Times New Roman", serif;
            color: #333;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
        .content {
            text-align: center;
            max-width: 600px;
            padding: 0 20px;
        }
        h1 {
            font-size: 36px;
            margin-bottom: 16px;
            font-weight: 450;
            letter-spacing: -0.4px;
        }
        .email {
            margin-bottom: 12px;
            font-style: italic;
            font-size: 15px;
            color: #666;
            font-weight: 400;
        }
        .cv {
            margin-bottom: 24px;
            font-size: 15px;
        }
        .cv a {
            color: #666;
            text-decoration: underline;
            font-weight: 400;
        }
        .cv a:hover {
            color: #333;
        }
        .links {
            margin-bottom: 32px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 24px;
        }
        .links a {
            text-decoration: none;
            font-size: 28px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 28px;
            height: 28px;
        }
        .links .fa-linkedin {
            color: #0077b5;
        }
        .links .fa-brain {
            color: #7c7c7c;
        }
        .links .fa-github {
            color: #333;
        }
        .links .material-icons {
            font-size: 28px;
            color: #ff7f2a;
            vertical-align: middle;
        }
        .links a:hover i {
            opacity: 0.7;
        }
        .wiki-link {
            margin-top: 32px;
        }
        .wiki-link a {
            color: #666;
            text-decoration: none;
            padding: 8px 16px;
            border: 1px solid #666;
            font-size: 15px;
            font-weight: 400;
        }
        .wiki-link a:hover {
            background-color: #666;
            color: white;
        }
        .links .sine-wave {
            font-size: 32px;
            color: #ff7f2a;
            text-decoration: none;
            vertical-align: middle;
            display: inline-block;
        }
        .links a:hover .sine-wave {
            opacity: 0.7;
        }
        .commit-hash {
            position: fixed;
            bottom: 1rem;
            font-size: 14px;
            color: #666;
            font-family: "EB Garamond", Georgia, "Times New Roman", serif;
            font-weight: 400;
        }
        .commit-hash a {
            color: inherit;
            text-decoration: none;
        }
        .commit-hash a:hover {
            text-decoration: underline;
        }
        .links .lw-icon, .links .freesound-icon {
            width: 28px;
            height: 28px;
            transition: opacity 0.2s;
            display: block;
        }
        .links a:hover img {
            opacity: 0.7;
        }
    </style>
</head>
<body>
    <div class="content">
        <h1>Hélios Lyons</h1>
        <div class="email">
            send me your best Wikipedia articles and book recommendations → helioslyons@me.com
        </div>
        <div class="cv">
            <a href="https://drive.google.com/file/d/1i75D3yYPIOkW4l0g4jeHodbWGu0y791S/view?usp=sharing">curriculum vitae</a>
        </div>
        <div class="links">
            <a href="https://github.com/haelyons" title="GitHub">
                <i class="fab fa-github"></i>
            </a>
            <a href="https://uk.linkedin.com/in/h%C3%A9lios-lyons-a274a7168" title="LinkedIn">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://www.lesswrong.com/users/hal2k" title="Less Wrong">
                <img src="/lw_logo.png" class="lw-icon" alt="Less Wrong"/>
            </a>
            <a href="https://freesound.org/people/hal.2k/" title="Freesound">
                <img src="/freesound_favicon.webp" class="freesound-icon" alt="Freesound"/>
            </a>
        </div>
        <div class="wiki-link">
            <a href="/docs">Enter Wiki →</a>
        </div>
    </div>
    {{ with .Site.Data.git }}
    <div class="commit-hash">
        <a href="{{ $.Site.Params.BookRepo }}/{{ $.Site.Params.BookCommitPath }}/{{ .hash }}" target="_blank" rel="noopener">
            commit {{ .abbreviated }}
        </a>
    </div>
    {{ end }}
</body>
</html> 