.timeline {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    padding-left: 2rem;
}

.timeline::before {
    content: '';
    position: absolute;
    left: 1rem;
    width: 2px;
    height: 100%;
    background-color: #e0e0e0;
}

.timeline-post {
    position: relative;
    margin: 2rem 0;
    /* Partially grayed out by reducing opacity (still legible) */
    opacity: 0.8;
    transition: opacity 0.2s ease-in-out;
}

/* Fully opaque on hover */
.timeline-post:hover {
    opacity: 1;
}

/* Perfectly align the node with the timeline line */
.timeline-post::before {
    content: '';
    position: absolute;
    left: 1rem; /* Same as the .timeline::before's left */
    top: 0.5rem;
    width: 0.75rem;
    height: 0.75rem;
    background-color: #666;
    border-radius: 50%;
    transform: translateX(-50%); /* Center the circle on the line */
}

.timeline-post-content {
    display: flex;
    flex-direction: column;
}

.timeline-post-title {
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
}

.timeline-post-subtitle {
    margin: 0.2rem 0;
    font-size: 1rem;
    color: #333;
}

.timeline-post-date {
    margin: 0.2rem 0;
    font-size: 0.9rem;
    color: #666;
    font-style: italic;
}

.timeline-post-link {
    text-decoration: none;
    color: inherit;
}

.timeline-post p {
    margin: 0.5rem 0;
    color: #666;
}

/* Minimal Tailwind-like timeline styling without installing Tailwind */

.custom-timeline {
  /* Draw the vertical line */
  position: relative;
  border-left: 1px solid #e2e8f0; /* This color is similar to Tailwind's gray-200 */
  margin-left: 1rem; 
  padding-left: 1.5rem; /* Adjust based on your spacing preference */
}

/* Each item */
.custom-timeline-item {
  position: relative;
  margin-bottom: 2.5rem; /* Gap between timeline items */
  margin-left: 1rem;     /* Indent so the circle overlaps the line */
  opacity: 0.8;          /* Partially grayed out initially */
  transition: opacity 0.2s ease-in-out;
}

.custom-timeline-item:hover {
  /* Fully opaque on hover */
  opacity: 1;
}

/* The circle/dot on the timeline line */
.custom-timeline-item::before {
  content: "";
  position: absolute;
  width: 0.75rem;
  height: 0.75rem;
  background-color: #666; /* Dot color */
  border-radius: 9999px;  /* Large radius => circle */
  border: 2px solid #fff; /* White border ring (like "border border-white") */
  left: -1.5rem;          /* Move it exactly onto the line */
  top: 0.25rem;           /* Slight downward offset to center with text */
  box-sizing: content-box;
} 
